                    <div class="col-xs-12 col-md-8 col-md-offset-3">
                        <h2>Tasks</h2>
                        <ul class="task">
                            <li *ngFor="let task of tasks">
                                <a href="#info{{ task?.id }}" data-toggle="collapse">{{ task?.name }}</a>
                                <div id="info{{ task?.id }}" class="collapse">
                                    <p><strong  class="viewtask">Description: </strong>
                                    {{ task?.description }}</p>
                                    <p><strong class="viewtask">Start date: </strong>{{ task?.start_date | date:'longDate' }}</p>
                                    <p><strong class="viewtask">End date: </strong>{{ task?.end_date | date:'longDate' }}</p>
                                </div>
                            </li>
                            
                        </ul>
                        <a [routerLink]="['new-task']"><button type="button" class="btn btn-success" >Add task</button></a>
                </div>