
<html lang="en">
    <head>
        <title>View project page</title>
        <meta charset="UTF-8">
        <link rel="shortcut icon" href="">
        <script src="../static/js/jquery-2.1.4.min.js"></script><!--JQuery-->
        <script src="../static/js/bootstrap.min.js"></script><!--Bootstrap min JS-->
        <link href="../static/css/bootstrap.min.css" rel="stylesheet" /><!--Bootstrap min.css-->
        <link href="../static/css/style.css" rel="stylesheet" /><!--Style sheet CSS-->
        <meta name="viewport" content="width=device-width, initial-scale=1" /><!--Para ver mobile-->
    </head>



    <body>

        <div class="container">
            <div class="col-xs-12 col-md-12">
                <h1>PROJECT VIEW PAGE</h1>
                <nav class="breadcrumb">
                    <a class="breadcrumb-item" href="#">Main page / </a>
                    <span class="breadcrumb-item active" style="color:white">Project "x"</span>
                </nav>

                <h3><strong>PROJECT "ONE" ></strong></h3>

                <h4>NAME OF PROJECT "ONE"</h4>
                
               <img src="../static/img/project_image.jpg" class="img-responsive center-block imgpro"/>
                
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Description</label>
                        <div class="col-sm-9">
                            <p>Chicken leberkas venison t-bone shank jerky ball tip. Strip steak landjaeger turducken pig short loin leberkas ham pastrami rump jerky sausage doner swine. Jowl flank filet mignon, t-bone meatloaf ball tip pork chop tenderloin bresaola burgdoggen short loin. Cupim beef ribs pork chop tri-tip, chicken strip steak alcatra short loin spare ribs bresaola short ribs porchetta leberkas. Short ribs cow porchetta, bresaola shankle rump t-bone. Shoulder cow pork loin, leberkas capicola jowl andouille chicken pancetta drumstick venison sirloin shank burgdoggen.</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-3 control-label">Duration</label>
                        <div class="col-sm-3">
                            <p class="form-control" rows="3"><strong>Start date: </strong>28 Nov 2016</p>
                        </div>
                        <div class="col-sm-3">
                            <p class="form-control" rows="3"><strong>End date: </strong>12 Jan 2017</p>
                        </div>

                    </div>

                    <div class="col-xs-12 col-md-8 col-md-offset-3">
                        <h2>Tasks</h2>
                        <ul class="task">
                            <li>
                                <a href="#info1" data-toggle="collapse">Task one</a>
                                <div id="info1" class="collapse">
                                    <p><strong  class="viewtask">Description: </strong>
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p><strong class="viewtask">Start date: </strong>28 Nov 2016</p>
                                    <p><strong class="viewtask">End date: </strong>28 Nov 2016</p>
                                </div>
                            </li>

                            <li>
                                <a href="#info2" data-toggle="collapse">Task two</a>
                                <div id="info2" class="collapse">
                                    <p><strong  class="viewtask">Description: </strong>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p><strong class="viewtask">Start date: </strong>28 Nov 2016</p>
                                    <p><strong class="viewtask">End date: </strong>28 Nov 2016</p>
                                </div>
                            </li>
                            <li>
                                <a href="#info3" data-toggle="collapse">Task three</a>
                                <div id="info3" class="collapse">
                                    <p><strong  class="viewtask">Description: </strong>
                                        Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                        sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
                                    <p><strong class="viewtask">Start date: </strong>28 Nov 2016</p>
                                    <p><strong class="viewtask">End date: </strong>28 Nov 2016</p>
                                </div>
                            </li>
                        </ul>
                </div>
            </form>
            </div>
        </div>


    </body>
</html>

