<div class="container">
            <div class="col-xs-12 col-md-12">
                             
                <h1>PROJECT PAGE</h1>
                

                <nav class="breadcrumb">
                    <a class="breadcrumb-item" [routerLink]="['']">Main page</a> /
                    <span class="breadcrumb-item active" style="color:white">New project</span>
                </nav>
             
             
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Name of the new project*</label>
                        <div class="col-sm-9">
                            <input type="name" class="form-control" placeholder="Add name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Insert image*</label>
                        <div class="col-sm-9">                           
                            <input type="file" accept="image/*" class="form-control" placeholder="Choose a JPEG image file">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Description*</label>
                        <div class="col-sm-9">
                            <textarea class="form-control" rows="3" placeholder="Describe the project"></textarea>
                        </div>
                      
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Duration*</label>
                        <div class="col-sm-3">
                            <input type="name" class="form-control" placeholder="Duration">
                           
                        </div>
                        <!--<div class="col-sm-3">
                            <p class="form-control" rows="3"><strong>To: </strong>
                                <a href=""><span class="glyphicon glyphicon-calendar"></span></a></p>
                        </div>-->

                    </div>
                    <!--
                    <div class="col-xs-12 col-md-8 col-md-offset-3">
                        <h2>Tasks</h2>
                        <p>Add tasks of your project here. You can edit them later.</p>

                        <ul class="task">
                            <li>
                                <a href="">Task one</a>
                                <a href=""><span class="glyphicon glyphicon-remove"></span></a>
                                <a href=""><span class="glyphicon glyphicon-edit"></span></a>
                            </li>

                            <li>
                                <a href="">Task two</a>
                                <a href=""><span class="glyphicon glyphicon-remove"></span></a>
                                <a href=""><span class="glyphicon glyphicon-edit"></span></a>
                            </li>
                            <li>
                                <a href="">Task three</a>
                                <a href=""><span class="glyphicon glyphicon-remove"></span></a>
                                <a href=""><span class="glyphicon glyphicon-edit"></span></a>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-success">Add new task</button>
                    </div>
                    -->
                </form>
        
                                 
                       
            </div>
            <div class="row save">
                <a [routerLink]="['']"><button type="button" class="btn btn-default btn-lg">CANCEL</button></a>
                <button type="button" class="btn btn-success btn-lg">SAVE</button>    
            </div> 
        </div>