<!-- <div class="container-fluid bg"> </div> -->

        
        <div class="container">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <h1>PROJECTS</h1>
     
            <ul>
                <li *ngFor="let project of projects; let i = index">
                    <a [routerLink]="['project', project.id]">{{ project.name }}</a>
                    <!--<a href=""><span class="glyphicon glyphicon-remove"></span></a>-->
                    <span style="cursor: pointer" class="btremove glyphicon glyphicon-remove" (click)="delete(i); $event.stopPropagation()"></span>
                </li>
            </ul>
               
               
                <a [routerLink]="['new-project']"><button type="button" class="btn btn-success" >Add new</button></a>
            </div>
        </div>
        